.myheader{
  text-align: center;
  background-color: white;
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fvimeo.com%2F117079445&psig=AOvVaw1pErx7jzvuNXG10GA9x4Jb&ust=1592221810999000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDTideegeoCFQAAAAAdAAAAABAD);
}
.profile{
  border-radius: 90%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;

}

.item2 {
  background-color:yellow;
  
}

.item3 {
  background-color:blue;
  
}
